@page "/"
@inject IRecipeService RecipeService
@inject RecipeStore RecipeStore
@implements IDisposable
@attribute [Authorize]

<PageTitle>Mes Recettes</PageTitle>

<div class="container">
    <div class="row pb-4 pt-4 text-center">
        <span class="container bg-taupe rounded-pill">
            <h1 class="blanc">Mes Recettes</h1>
        </span>

    </div>

    @if (RecipeStore.RecipesListState.Count == 0)
    {
        <Loader/>
    }
    else
    {
        <div class="row pb-4 pt-4">
            @foreach (var recipe in RecipeStore.RecipesListState)
            {
                <div><h6 class="text-warning">@recipe.Id</h6>
                    <h6>@recipe.Title</h6></div>
                <div class="col-sm-6 col-lg-3 p-2">
                    <RecipeCard recipe=@recipe />
                </div>
            }
        </div>
    }

</div>



@code{
    List<Recipe> Recipes = new List<Recipe>();

    protected override  async Task OnInitializedAsync()
    {
        if (RecipeStore.RecipesListState.Count == 0)
        {
            await RecipeStore.SetRecipesState();
            RecipeStore.OnStateChange += StateHasChanged;
        }
    }

    public void Dispose()
    {
        RecipeStore.OnStateChange -= StateHasChanged;
    }

}
