@page "/profile"
@using Microsoft.AspNetCore.Authorization
@using Microsoft.Graph
@inject Microsoft.Graph.GraphServiceClient GraphServiceClient
@attribute [Authorize]

<h3 class="taupe">Mon Profil</h3>
@if (user == null)
{
    <Loader/>
}
else
{
   <div class="row">
    <div class="card bg-taupe">
        <table>
            
        </table>
    </div>
    </div>
}

@code {
    User? user;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            user = await GraphServiceClient.Me.Request().GetAsync();
        }
        catch (Exception ex)
        {
            Console.WriteLine(ex.Message);
        }
    }
}
