

<div class="loader">
    <div class=" in-loader spinner-border taupe"></div>
</div>


<style>
    .loader{
        position:fixed;
        top:0;
        left:0;
        width:100vw;
        height:100vh;
        display:flex;
        align-items:center;
        justify-content:center;
    }

    .in-loader{
        width:4rem;
        height:4rem;
    }

</style>
