
@inject NavigationManager Navigate


<span @onclick="()=> handleClick(recipe.Id)">
	<div class="card rc-card hoverable ">
		<img src="@recipe.ImageUrl"
			 class="card-img-top"
			 alt="@recipe.Title"
			  />
		<div class="card-body bg-taupe rounded-bottom">
			<div class="text-center ">
				<h5 class="card-title blanc">@recipe.Title</h5>
			</div>
		</div>
	</div>
</span>


@code {
	[Parameter]
	public Recipe recipe { get; set; } = default!;

	protected void handleClick(string id)
	{
		Navigate.NavigateTo($"/RecipeDetails/{id}");
	}

}

<style>
	.card{
		width: 18rem;
	}

	img{
		height:200px;
		object-fit: cover;
	}
</style>
